@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

:root {
  --font-size: 24px;
  --primary-color: #2b70c5;
  --secondary-color: #1566d6;
  --light-color: #fff;
  --gray-color: #303236;
  --btn-primary: #0d6efd;
  --container-padding: 2rem 4rem;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.navbar {
  border-bottom: 1px solid #f5f5f5;
}

.text-center {
  text-align: center;
}

button,
input[type="submit"] {
  padding: 1.1rem 1.3rem;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.rounded-lg {
  border-radius: 10rem;
}

.btn-primary {
  background-color: var(--secondary-color);
  color: var(--light-color);
}

header nav {
  position: relative;
  padding: 1.2rem 0rem;
  z-index: 100;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-center {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav-center a {
  font-size: 1rem;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--gray-color);
  position: relative;
}

.nav-center a::before {
  content: "";
  position: absolute;
  bottom: -38px;
  left: -10px;
  width: 0;
  border-radius: 1rem;
  height: 3.1px;
  background-color: var(--btn-primary);
}

i {
  font-size: 1.3rem;
  transform: rotate(0deg);
  transition: transform 0.4s ease;
}

.nav-center a:focus i {
  transform: rotate(180deg);
}

.nav-center a:hover::before,
.nav-center a:focus::before {
  width: calc(100% + 1.5rem);
}

nav .hamburg {
  display: none;
}

.hamburg i {
  font-size: 1.5rem;
  color: var(--btn-primary);
}

/* Main */
.main {
  padding-top: 60px;
  padding-bottom: 52px;
  color: #303236;
}

.main .container {
  max-width: 880px;
  height: 400px;
}

.text-medium {
  font-weight: 500 !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.explore-solution {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.44px;
  text-transform: capitalize;
  line-height: 1.5em;
}

.text-small {
  font-size: 14px;
}

h1 {
  font-size: 67px;
  font-style: normal;
  font-weight: 600;
  line-height: 104.627%;
  letter-spacing: -2.68px;
  text-transform: capitalize;
}

h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  color: #303236;
}

.text-blue {
  color: #2b70c5;
}

.main h1 {
  margin-bottom: 32px;
}

.grid {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.44px;
  text-transform: capitalize;
  line-height: 1.5em;
  margin-bottom: 10px;
}

.main .btn {
  margin-top: 32px;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.44px;
  padding: 20px 40px;
  border-radius: 62px;
}

.btn-secondary {
  border: 1px solid rgba(48, 50, 54, .2);
  color: #303236;
  text-decoration: none;
}

.btn-secondary:hover,
.btn-secondary:active {
  background: #1566d6;
  border-color: #1566d6;
  color: #fff;
}

.schedule-demo {
  margin-top: 40px;
}

/* main end */
/*  Section 2 */
.section-two {
  padding-bottom: 60px;
}

.video {
  width: 100% !important;
}

.container-section {
  width: 100%;
  padding-left: 42px;
  padding-right: 42px;
}

/* Section 2 End */
/* Features Start */
.features {
  padding-bottom: 72px;
}

.features .container {
  max-width: 1030px;
}

.features .subtitle {
  line-height: 168%;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
}

.features .row {
  margin-top: 52px;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}

.features .box {
  min-height: 187px;
  margin-bottom: 20px;
  border-radius: 16px;
  padding: 20px 40px;
  color: #303236;
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  border: 1px solid rgba(21, 102, 214, .18);
  background: rgba(43, 112, 197, 0.01);
}

.bg-liteblue {
  background: rgba(43, 112, 197, .04) !important;
}

.bg-darkblue {
  background: rgba(43, 112, 197, .1) !important;
}

.features .box {
  margin-bottom: 20px;
}

.features .box img {
  margin-right: 32px;
}

.text-extra-big {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.44px;
  text-transform: capitalize;
}

/* Features End */
/* Why Us */
.why-us {
  background: linear-gradient(0deg, rgba(43, 112, 197, 0.04) 0%, rgba(43, 112, 197, 0.04) 100%), #fff;
  padding-top: 88px;
  padding-bottom: 88px;
}

.why-us .container {
  max-width: 1030px;
}

.why-us .subtitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 168%;
  letter-spacing: -0.18px;
  text-transform: capitalize;
  color: #303236;
}

.why-us .row {
  margin-top: 64px;
}

.justify-content-between {
  justify-content: space-between !important;
}

.why-us .count {
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
  text-transform: capitalize;
}

.why-us .counter-text {
  font-weight: 500;
}

/* we serve */
.we-serve {
  padding-top: 80px;
  padding-bottom: 0px;
}

.we-serve .container {
  max-width: 1230px;
}

.serve-box img {
  width: 100%;
  transition: all .5s ease-in-out;
  padding: 10px;

}

.we-serve .hover-img {
  opacity: 0;
  display: none;
  
}

.serve-box:hover .hover-img {
  opacity: 1;
  display: block;
  
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

/*partners*/
.partners {
  padding-top: 80px;
  padding-bottom: 80px;
}

.partners .container {
  max-width: 1030px;
}

.collaborators {
  padding-top: 80px;
  padding-bottom: 0px;
}

.collaborators .container {
  max-width: 850px;
}

.collaborators p {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.44px;
  text-transform: capitalize;
}

.logo-grid img {
  cursor: pointer;
  transition: all .3s ease-in-out;
  filter: grayscale(1);
}

/* media */
.media {
  padding-top: 80px;
  padding-bottom: 0px;
}

.media .container {
  max-width: 850px;
}

@media (min-width: 576px) {
  .col-sm-3 {
      flex: 0 0 auto;
      width: 25%;
  }
}

/* contact */
.JV-contact {
  padding-top: 108px;
  padding-bottom: 108px;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
}

.contact-form {
  border-radius: 16px;
  border: 1px solid rgba(21, 102, 214, .3);
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5);
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.contact-form .col {
  padding: 56px 72px;
}
.col {
  flex: 1 0 0%;
}
.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form .form-label {
  display: block;
}
.form-label {
  font-family: "Lato", sans-serif;
  color: #303236;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.857%;
  margin-bottom: 6px;
}

.chip-select {
  display: flex;
  flex-wrap: wrap;
}

.chip input[type=checkbox] {
  display: none;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
/* contact */
/* footer */
footer {
  background: linear-gradient(0deg, rgba(21, 102, 214, 0.04) 0%, rgba(21, 102, 214, 0.04) 100%), #fff;
  color: #626b7f;
  padding-top: 64px;
}

footer .footer-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 42px;
  margin-bottom: 42px;
  border-bottom: 1px solid #ebebeb;
}

footer .footer-head .text-big {
  max-width: 392px;
}

.text-big {
  font-size: 20px;
  font-weight: 500;
}

footer .footer-title {
  color: #303236;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.16px;
  text-transform: capitalize;
  margin-bottom: 22px;
}

footer ul {
  padding: 0;
  list-style-type: none;
  list-style: none;
}

footer ul li {
  margin-bottom: 14px;
}

footer .row {
  margin-bottom: 42px;
}

footer .copyrights {
  padding: 40px 0;
  background: linear-gradient(0deg, rgba(21, 102, 214, 0.12) 0%, rgba(21, 102, 214, 0.12) 100%), #fff;
  color: #676e76;
  line-height: 150%;
  text-transform: capitalize;
}