@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}
:root {
  --font-size: 24px;
  --primary-color: #2b70c5;
  --secondary-color: #1566d6;
  --light-color: #fff;
  --gray-color: #303236;
  --btn-primary: #0d6efd;
  --container-padding: 2rem 4rem;
}
.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.navbar {
  border-bottom: 1px solid #f5f5f5;
}
.text-center {
  text-align: center;
}

button,
input[type="submit"] {
  padding: 1.1rem 1.3rem;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.rounded-lg {
  border-radius: 10rem;
}
.btn-primary {
  background-color: var(--secondary-color);
  color: var(--light-color);
}

.btn-secondary {
  color: var(--gray-color);
  background-color: var(--light-color);
  border: 1.3px solid #bbbb;
  font-size: 1.3rem;
  font-weight: 500;
  transition: background-color 0.5s ease, color 0.4s ease;
}
.btn-secondary:hover {
  background-color: var(--secondary-color);
  color: #fff;
}
header nav {
  position: relative;
  padding: 1.2rem 0rem;
  z-index: 100;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-center {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.nav-center a {
  font-size: 1rem;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--gray-color);
  position: relative;
}

.nav-center a::before {
  content: "";
  position: absolute;
  bottom: -38px;
  left: -10px;
  width: 0;
  border-radius: 1rem;
  height: 3.1px;
  background-color: var(--btn-primary);
}
i {
  font-size: 1.3rem;
  transform: rotate(0deg);
  transition: transform 0.4s ease;
}
.nav-center a:focus i {
  transform: rotate(180deg);
}
.nav-center a:hover::before,
.nav-center a:focus::before {
  width: calc(100% + 1.5rem);
}
nav .hamburg {
  display: none;
}
.hamburg i {
  font-size: 1.5rem;
  color: var(--btn-primary);
}

.hero-section {
  width: 100%;
  height: 70vh;
}
.hero-section .container {
  max-width: 860px;
}
.hero-section .container div {
  padding-top: 5rem;
  color: var(--gray-color);
  font-size: 14px;
  font-weight: 500;
}
.hero-section .container h1 {
  padding-top: 1.5rem;
  font-size: 4.1rem;
  line-height: 4.3rem;
  color: var(--gray-color);
}
.hero-section h1 span {
  color: var(--primary-color);
}
.hero-section .container p {
  padding-top: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--gray-color);
  line-height: 2rem;
}
.hero-section .container button {
  margin-top: 2rem;
}

@media (max-width: 991px) {
  header {
    z-index: 100;
  }
  nav .nav-center {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 25rem;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem 2rem;
    background-color: #ffffff;
    transition: all 0.5s ease;
    z-index: -1;
    top: -500px;
    left: 0%;
  }
  .nav-center a::before {
    position: relative;
  }
  nav .hamburg {
    display: block;
  }
}



.main {
  padding-top: 60px;
  padding-bottom: 52px;
  color: #303236;

}
.main .container {
  max-width: 880px;
  height: 400px;
}

.text-medium {
  font-weight: 500 !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-small {
  font-size: 14px;
}

h1 {
  font-size: 67px;
  font-style: normal;
  font-weight: 600;
  line-height: 104.627%;
  letter-spacing: -2.68px;
  text-transform: capitalize;
}
.text-blue {
  color: #2b70c5;
}
.main h1 {
  margin-bottom: 32px;
}

.text-extra-big {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.44px;
  text-transform: capitalize;
  line-height: 1.5em;
}
    
.main .btn {
  margin-top: 32px;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.44px;
  padding: 20px 40px;
  border-radius: 62px;
}

.btn-outline-secondary {
  border: 1px solid rgba(48, 50, 54, .2);
  color: #303236;
  text-decoration: none;

}

.btn-outline-secondary:hover, .btn-outline-secondary:active {
  background: #1566d6;
  border-color: #1566d6;
  color: #fff;
}

.schedule-demo{
  margin-top: 40px;
}
.section-two {
  padding-bottom: 60px;
}
.w-100 {
  width: 100% !important;
}

.container-fluid {
  width: 100%;
  padding-left: 42px;
  padding-right: 42px;
}
.features {
  
  padding-bottom: 72px;
  
}

.features .container {
  max-width: 1030px;
}

.features h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  color: #303236;
}
.features .subtitle {
  line-height: 168%;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  
}

.features .row {
  margin-top: 52px;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}

.features .box {
  min-height: 187px;
  margin-bottom: 20px;
  border-radius: 16px;
  border: 1px solid rgba(21, 102, 214, .18);
  background: rgba(43, 112, 197, .01);
  padding: 32px 40px;
  color: #303236;
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
 
}

.features .box:not(:last-child) {
  margin-bottom: 20px;
}
.features .box img {
  margin-right: 32px;
}

.text-extra-big {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.44px;
  text-transform: capitalize;
}


/* Why Us */

.why-us{
  background: linear-gradient(0deg, rgba(43, 112, 197, 0.04) 0%, rgba(43, 112, 197, 0.04) 100%), #fff;
    padding-top: 88px;
    padding-bottom: 88px;

}

.why-us .container {
  max-width: 1030px;
}

.why-us h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  color: #303236;
}

.why-us .subtitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 168%;
  letter-spacing: -0.18px;
  text-transform: capitalize;
  color: #303236;
}

.why-us .row {
  margin-top: 64px;
}

.justify-content-between {
  justify-content: space-between !important;
}
.why-us .count {
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
  text-transform: capitalize;
}

/* we serve */
.we-serve {
  padding-top: 80px;
  padding-bottom: 80px;
}

.we-serve .container{
  max-width: 1030px;
}
.we-serve h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #303236;
}

.serve-box img {
  width: 100%;
  transition: all .5s ease-in-out;
}


/*partners*/
.partners {
  padding-top: 80px;
  padding-bottom: 80px;
}

.partners .container{
  max-width: 1030px;
}

.partners h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #303236;
}

.collaborators {
  padding-top: 80px;
  padding-bottom: 80px;
}

.collaborators .container{
  max-width: 850px;
}

.collaborators h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #303236;
}

.collaborators p {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.44px;
  text-transform: capitalize;
}

.logo-grid img {
  cursor: pointer;
  transition: all .3s ease-in-out;
  filter: grayscale(1);
}


/* media */

.media {
  padding-top: 80px;
  padding-bottom: 80px;
}

.media .container{
  max-width: 850px;
}

.media h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #303236;
}


/* contact */

.contact {
  padding-top: 80px;
  padding-bottom: 80px;
}

.contact .container{
  max-width: 1230px;
}

.contact-form {
  border-radius: 16px;
  border: 1px solid rgba(21, 102, 214, .3);
}

.modal {
  display: none;
  position: fixed;
  z-index: 10004;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .4);
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translate(0, -50px);
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
}
.contact-form .box {
  width: 317px;
  padding: 72px 50px;
  background: #1566d6;
  border-radius: 16px 0 0 16px;
  height: 100%;
}

.contact-form .box .icon-box {
  width: 162px;
  height: 162px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .2);
  margin-bottom: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form .title {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  line-height: normal;
  margin-bottom: 1.5rem;
  letter-spacing: -2px;
  text-transform: capitalize;
}

.text-extra-big {
  color: #fff;
  font-weight: 400;
    line-height: 154.545%;
}
.modal-content {
  height: 100%;
}

.contact-form .col {
  padding: 46px 62px;
  flex: 1;

}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.selected {
  background-color: blue;
  color: #fff;
  border-color: blue;
}
.chip {
  
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}


/* footer */

footer {
  background: linear-gradient(0deg, rgba(21, 102, 214, 0.04) 0%, rgba(21, 102, 214, 0.04) 100%), #fff;
  color: #626b7f;
  padding-top: 64px;
}
footer .footer-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 42px;
  margin-bottom: 42px;
  border-bottom: 1px solid #ebebeb;
}
footer .footer-head .text-big {
  max-width: 392px;
}
.text-big {
  font-size: 20px;
  font-weight: 500;
}

footer .footer-title {
  color: #303236;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.16px;
  text-transform: capitalize;
  margin-bottom: 22px;
}

footer ul {
  padding: 0;
  list-style-type: none;
  list-style: none;
}

footer ul li {
  margin-bottom: 14px;
}
footer .row {
  margin-bottom: 42px;
}

footer .copyrights {
  padding: 40px 0;
  background: linear-gradient(0deg, rgba(21, 102, 214, 0.12) 0%, rgba(21, 102, 214, 0.12) 100%), #fff;
  color: #676e76;
  line-height: 150%;
  text-transform: capitalize;
}